adlfs
dask[complete]
dask-kubernetes
donfig
fsspec
google-cloud-storage
gcsfs
gstools
intake
intake-esm
intake-xarray
prefect
regionmask
scikit-downscale
scikit-learn
tenacity
xarray
xpersist
xclim
zarr
