adlfs >= 2022.2.0
carbonplan_data
carbonplan[styles]
cf-xarray>=0.7.3
cmip6_preprocessing
dask[complete]
dask-kubernetes
donfig >= 0.7.0
fsspec
intake
intake-esm >= 2022.9.18
intake-xarray
ndpyramid == 0.0.6
pandas
prefect == 0.15.13
rechunker
regionmask
scikit-downscale >= 0.1.2
scikit-learn
scipy
universal-pathlib >= 0.0.12
xarray >= 2022.3.0
xarray-datatree == 0.0.12
xarray_schema >= 0.0.3
xclim
zarr >= 2.11.3
